{% extends 'base.html' %}
{% block title %}{{ libro.titulo }} - Biblioteca{% endblock %}
{% block content %}
<div class="card shadow-sm rounded-4">
    <div class="card-body">
        <h2 class="mb-3">{{ libro.titulo }}</h2>
        <p><strong>Autor:</strong> {{ libro.autor }}</p>
        <p><strong>Año de Publicación:</strong> {{ libro.ano_publicacion }}</p>
        <p><strong>Stock Disponible:</strong> {{ libro.stock }}</p>

        {% if user.is_authenticated %}
        {% if user.rol == 'regular' and libro.stock > 0 %}
        <form method="post" action="{% url 'books:prestar_libro' libro.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">Prestar
                Libro</button>
        </form>
        {% elif user.rol == 'regular' %}
        <p class="text-danger mt-2">No hay stock disponible</p>
        {% elif user.rol == 'admin' %}
        <a href="{% url 'books:editar_libro' libro.pk %}"
            class="btn btn-outline-warning">Editar Libro</a>
        {% endif %}
        {% endif %}
        <hr>
        <a href="{% url 'books:listar_libros' %}" class="btn btn-light border">←
            Volver</a>
    </div>
</div>
{% endblock %}
