{% extends 'base.html' %}

{% block title %}Lista de Libros - Biblioteca{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Libros Disponibles</h1>
        <div class="row">
            {% for libro in libros %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ libro.titulo }}</h5>
                        <p class="card-text">
                            <strong>Autor:</strong> {{ libro.autor }}<br>
                            <strong>Año:</strong> {{ libro.ano_publicacion}}<br>
                            <strong>Stock:</strong> {{ libro.stock }}
                        </p>
                        <a href="{% url 'books:detalle_libro' libro.pk %}"
                            class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No hay libros disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}